body{
	background-color: black;
	width:100%;
}

h2{
	color:white;
	text-align: center;
	margin:0;
	padding:2px;
}

h5{
	color:#6490d6;
	margin:0;

}


.square{
	background-color: purple;
	width:150px;
	height:150px;
	border-radius: 15px;
	margin:10px;
}

/*.container{
	padding-top: 20px;
	margin: 0px;
}*/

.row{
	justify-content: center;
}

.menu{
	margin: 0 10%;
}

.menu-bk{
	background-color: white;
}

.invisible{
	background-color:black;
}

.btnOrigin{
	border:0px;
	background-color: white;
	color:#6490d6;
	transition-duration: 0.4s;
}

.btnOrigin:focus{
	outline: 0;
}


.btnOrigin:hover{
	background-color: #6490d6;
	color:white;
	border: 0px;

}

.selected{
	border:0px;
	background-color: #6490d6;
	color:white;
}

.row{
	margin:0;
}


/**:focus {
    outline: 0 !important;
}
*/


#title{
	background-color: #6490d6;
	transition: all 0.4s ease-in-out;
}



#message{
	width:100px;
}

#easyM{
	margin-right:2px;
}


@media (min-width: 250px){
	
}

