body{
	background-color: #232323;
	width:100%;
}

h2{
	color:white;
	text-align: center;
	margin:0;
	padding:2px;
	font-family: 'Permanent Marker', cursive;
}

.life{
	margin:4% auto 0 auto;
	width:50%;
	height:100%;
	display: flex;
	justify-content: space-around;

}
  .heart {
  	display: inline-block;
  	float:left;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: pink;
    height: 50px;
    width: 50px;
    transform: rotate(-45deg);
    animation-name: beat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
  }

 .heart:after {
   background-color: pink;
   content: "";
   border-radius: 50%;
   position: absolute;
   width: 50px;
   height: 50px;
   top: 0px;
   left: 25px;
 }
  .heart:before {
    background-color: pink;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -25px;
    left: 0px;
  }



.square{
	background-color: purple;
	width:150px;
	height:150px;
	border-radius: 15px;
	margin:10px;
}

/*.container{
	padding-top: 20px;
	margin: 0px;
}*/

.row{
	justify-content: center;
	margin:0;
}

.menu{
	margin: 0;
	background-color: white;
	text-align: center;
}

.invisible{
	background-color:black;
}

.btnOrigin{
	border:0px;
	background-color: white;
	color:steelblue;
	transition-duration: 0.4s;
}

.btnOrigin:focus{
	outline: 0;
}

/**:focus {
    outline: 0 !important;
}
*/

.btnOrigin:hover{
	background-color: steelblue;
	color:white;
	border: 0px;

}

.selected{
	border:0px;
	background-color: steelblue;
	color:white;
}





#title{
	background-color: steelblue;
	transition: all 0.4s ease-in-out;
}



#message{
	width:100px;
	display:block;
	margin:0 auto;
	color: steelblue;
	font-family: 'Permanent Marker', cursive;

}

#easyM{
	margin-right:2px;
}


#newColor{
	margin:0 3%;
	font-family: 'Permanent Marker', cursive;
}

#modes{
	display:block;
	margin:0 3%;
	font-family: 'Permanent Marker', cursive;
}


@media(min-width:449px){
	#newColors{
		display:inline-block;
	}
	#modes{
		display:inline-block;
	}
	#message{
		display:inline-block;
		margin:0 3%;
	}
}


  @keyframes backdiv {
    50% {
      background: #ffe6f2;
    }
  }

  @keyframes beat {
    0% {
      transform: scale(1) rotate(-45deg);
    }
    50% {
      transform: scale(0.6) rotate(-45deg);
    }
  }

